body {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100%;
    border-radius: 1%;
    background: #242424;
}

h2 {
    color: #e8e8e8;
}

#dataset_info {
    color: #e8e8e8;
}

#plots {
    width: 95%;
    height: 100%;
    overflow-x: auto;
}
